<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /CodeIgniter
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>
<IfModule !mod_rewrite.c>
ErrorDocument 404 /CodeIgniter/index.php
</IfModule>